<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Wishlist Tracker</h1>
        

        <div class="add-item">
            <input type="text" id="itemName" placeholder="Item Name">
            <input type="text" id="itemBrand" placeholder="Brand">
            <select id="itemCategory">
                <option value="Men">Men</option>
                <option value="Women">Women</option>
                <option value="Sports">Sports</option>
            </select>

            <input type="number" id="itemPrice" placeholder="Price">
            <input type="text" id="itemImage" placeholder="Image URL (it's optional :)">
            <button onclick="addItem()">Add to Wishlist</button>
        </div>

        <div class="search">
            <input type="text" id="searchInput" placeholder="Search by name/brand">
            <button onclick="searchItems()">Search</button>
        </div>

        <div class="wishlist" id="wishlist">
            <!-- Items load here via JavaScript -->
        </div>
    </div>

    <script src="/js/script.js"></script>





</body>

</html>